<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.balloondigital.egvapp">

    <uses-feature
            android:name="android.hardware.camera2"
            android:required="true"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".activity.Create.CreateEventActivity"
                  android:theme="@style/AppThemeToolbar"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.Auth.SubmitInviteCodeActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activity.Menu.InvitesActivity"
                android:theme="@style/AppThemeToolbar"
                android:configChanges="orientation"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activity.Single.SingleArticleActivity"
                android:theme="@style/AppThemeToolbar"
                android:configChanges="orientation"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activity.Single.SingleThoughtActivity"
                android:theme="@style/AppThemeToolbar"
                android:configChanges="orientation"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activity.Single.SinglePostActivity"
                android:theme="@style/AppThemeToolbar"
                android:configChanges="orientation"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activity.Create.CreatePostActivity"
                android:theme="@style/AppThemeToolbar"
                android:configChanges="orientation"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activity.Create.CreateArticleActivity"
                android:theme="@style/AppThemeToolbar"
                android:configChanges="orientation"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activity.Create.CreateToughtActivity"
                android:theme="@style/AppThemeToolbar"
                android:configChanges="orientation"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activity.Edit.ChangeProfilePhotoActivity"
                android:theme="@style/AppThemeToolbar"
                android:configChanges="orientation"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activity.Menu.AppRateActivity"
                android:theme="@style/AppThemeToolbar"
                android:configChanges="orientation"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activity.Menu.SuggestsActivity"
                android:theme="@style/AppThemeToolbar"
                android:configChanges="orientation"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activity.Menu.FavoriteEventsActivity"
                android:theme="@style/AppThemeToolbar"
                android:configChanges="orientation"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activity.Menu.EnrolledEventsActivity"
                android:theme="@style/AppThemeToolbar"
                android:configChanges="orientation"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activity.Menu.PrivacyActivity"
                android:theme="@style/AppThemeToolbar"
                android:configChanges="orientation"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activity.Menu.SetPrivacyActivity"
                android:theme="@style/AppThemeToolbar"
                android:configChanges="orientation"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activity.Menu.MyEmbassyActivity"
                android:theme="@style/AppThemeToolbar"
                android:configChanges="orientation"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activity.Menu.SendMessageActivity"
                android:theme="@style/AppThemeToolbar"
                android:configChanges="orientation"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activity.Menu.AboutAppActivity"
                android:theme="@style/AppThemeToolbar"
                android:configChanges="orientation"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activity.Menu.AboutEmbassiesActivity"
                android:theme="@style/AppThemeToolbar"
                android:configChanges="orientation|keyboardHidden|screenLayout|screenSize">
        </activity>
        <activity
                android:name=".activity.Edit.EditSocialActivity"
                android:theme="@style/AppThemeToolbar"
                android:configChanges="orientation"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activity.Edit.ChangePassActivity"
                android:theme="@style/AppThemeToolbar"
                android:configChanges="orientation"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activity.Edit.EditProfileActivity"
                android:theme="@style/AppThemeToolbar"
                android:configChanges="orientation"
                android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.Edit.ChoosePhotoActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.Edit.CompleteRegisterActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.Auth.CheckAuthActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"
                        />

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.Edit.ChooseEmbassyActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.Auth.ResetPasswordActivity">
        </activity>
        <activity
                android:name=".activity.Menu.MenuActivity"
                android:theme="@style/AppThemeToolbar">
        </activity>
        <activity android:name=".activity.Single.EventProfileActivity"
                  android:theme="@style/AppThemeToolbar"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activity.Single.UserProfileActivity"
                android:theme="@style/AppThemeToolbar"
                android:configChanges="orientation"
                android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.Auth.RegisterActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.Auth.LoginActivity"/>
        <activity android:name=".activity.MainActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"/>
        <activity
                android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
                android:theme="@style/Base.Theme.AppCompat"
                android:configChanges="orientation"
                android:screenOrientation="portrait"/>
        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyDu9n938_SYxGcdZQx5hLC91vFa-wf-JoY"/>
    </application>

</manifest>