<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.balloondigital.egvapp">

    <uses-feature
            android:name="android.hardware.camera2"
            android:required="true"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".activity.CreatePostActivity"
                  android:theme="@style/AppThemeToolbar">
        </activity>
        <activity android:name=".activity.CreateArticleActivity"
                  android:theme="@style/AppThemeToolbar">
        </activity>
        <activity android:name=".activity.CreateToughtActivity"
                  android:theme="@style/AppThemeToolbar">
        </activity>
        <activity
                android:name=".activity.ChangeProfilePhotoActivity"
                android:theme="@style/AppThemeToolbar">
        </activity>
        <activity
                android:name=".activity.AppRateActivity"
                android:theme="@style/AppThemeToolbar">
        </activity>
        <activity
                android:name=".activity.SuggestsActivity"
                android:theme="@style/AppThemeToolbar">
        </activity>
        <activity
                android:name=".activity.FavoriteEventsActivity"
                android:theme="@style/AppThemeToolbar">
        </activity>
        <activity
                android:name=".activity.EnrolledEventsActivity"
                android:theme="@style/AppThemeToolbar">
        </activity>
        <activity
                android:name=".activity.PrivacyActivity"
                android:theme="@style/AppThemeToolbar">
        </activity>
        <activity
                android:name=".activity.SetPrivacyActivity"
                android:theme="@style/AppThemeToolbar">
        </activity>
        <activity
                android:name=".activity.MyEmbassyActivity"
                android:theme="@style/AppThemeToolbar">
        </activity>
        <activity
                android:name=".activity.SendMessageActivity"
                android:theme="@style/AppThemeToolbar">
        </activity>
        <activity
                android:name=".activity.AboutAppActivity"
                android:theme="@style/AppThemeToolbar">
        </activity>
        <activity
                android:name=".activity.AboutEmbassiesActivity"
                android:theme="@style/AppThemeToolbar">
        </activity>
        <activity
                android:name=".activity.EditSocialActivity"
                android:theme="@style/AppThemeToolbar">
        </activity>
        <activity
                android:name=".activity.ChangePassActivity"
                android:theme="@style/AppThemeToolbar">
        </activity>
        <activity
                android:name=".activity.EditProfileActivity"
                android:theme="@style/AppThemeToolbar">
        </activity>
        <activity android:name=".activity.ChoosePhotoActivity">
        </activity>
        <activity android:name=".activity.CompleteRegisterActivity">
        </activity>
        <activity android:name=".activity.CheckAuthActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.ChooseEmbassyActivity">
        </activity>
        <activity android:name=".activity.ResetPasswordActivity">
        </activity>
        <activity android:name=".activity.MenuActivity">
        </activity>
        <activity android:name=".activity.EventProfileActivity">
        </activity>
        <activity
                android:name=".activity.UserProfileActivity"
                android:theme="@style/AppThemeToolbar">
        </activity>
        <activity android:name=".activity.RegisterActivity">
        </activity>
        <activity android:name=".activity.LoginActivity"/>
        <activity android:name=".activity.MainActivity"/>
        <activity
                android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
                android:theme="@style/Base.Theme.AppCompat"/>
    </application>

</manifest>